@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-blue: #00d4ff;
  --color-pink: #ff6b9d;
  --color-yellow: #ffe066;
  --color-black: #0e1623;
  --color-ui-background: #232b3d;
  --color-ui-background-black: #181c24;
  --color-ui-background-gray: #23272f;
  --border-color-gray: #333842;
  --color-white: #fefefe;
  --color-gray: #a1a8b0;

  --font-pretendard:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
