@import 'tailwindcss';

@theme {
  --color-blue: #00d4ff;
  --color-pink: #ff6b9d;
  --color-yellow: #ffe066;
  --color-black: #0e1623;
  --color-ui-background: #232b3d;
  --color-ui-background-black: #181c24;
  --color-ui-background-gray: #23272f;
  --border-color-gray: #333842;
  --color-white: #fefefe;
  --color-gray: #a1a8b0;
}
